@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* general styles */
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

/* header section */
.header {
  background-color: #1f2937;
  color: #f9faf8;

  padding: 20px 150px;
}
/* top */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: pink; */
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
ul {
  display: flex;
  gap: 15px;
}

ul li {
  list-style: none;
  transition: all 0.15s;
}
ul li:hover {
  opacity: 0.7;
}
ul li:active {
  opacity: 0.4;
}
li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* hero */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  gap: 25px;
}
.hero-info h1 {
  font-size: 48px;
  line-height: 1;
}
.hero-info p {
  color: #e5e7eb;
  font-size: 18px;

  margin-top: 10px;
}
.hero-img {
  width: 700px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}
.cat-1 {
  width: 100%;
  border-radius: 4px;
}
.sign-up {
  margin-top: 15px;
  padding: 5px 25px;
  background-color: #3882f6;
  font-size: 18px;
  color: #f9faf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.15s;
}
.sign-up:hover {
  opacity: 0.7;
}
.sign-up:active {
  opacity: 0.4;
}

/* checkout section */
.checkout {
  padding: 30px 0;
  color: #1f2937;
}
.checkout h2 {
  text-align: center;
  font-size: 36px;
}
.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.checkout-item {
  width: 150px;
  margin-top: 20px;
}
.checkout-img {
  width: 100%;
  border-radius: 4px;
}
.checkout-name {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}
.checkout-description {
  width: 100%;
}
